body {
  background-color: #FDF7FF; 
  font-family: 'Josefin Sans', sans-serif;
}

.heading {
  display: flex;
  flex-direction: column;
  color: #6A35C1;
  text-align: center;
  justify-content: center;
  padding: 15px;
  border-style: solid;
  margin: 50px 150px 50px 150px;
  border-radius: 15px;  
}

h3 {
  margin: 0px 0px 0px 0px;
}

img {
  height: 100px;
  width: 100px;
}

button {
  background-color: #FDF7FF;
  border-color: #6A35C1;
  border-radius: 15px;
  padding: 5px;
  border-width: 4px;
}

button:hover {
background-color:#6A35C1;
cursor: pointer;
}

.center-content {
  display: flex;
  flex-direction: column;
  background-color:#FDF7FF;
  max-height: 430px;
  max-width: 430px;
  border: solid;
  border-color:#6A35C1;
  border-radius: 15px;
  color:#6A35C1;
  flex-grow: 1;
}

.container {
  display: flex;
  justify-content: space-evenly;
}

.left-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.right-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

 
.display-text {
  padding: 0px 20px;
  font-size: larger;
}

li {
  font-size: larger;
}

#start-btn {
  align-self: center;
  font-size:x-large;
  padding: 15px;
  margin-top: 30px;
  border-width: 5px;

}