body {
  background-color: #FDF7FF; 
  font-family: 'Josefin Sans', sans-serif;
}

.heading {
  display: flex;
  flex-direction: column;
  color: #6A35C1;
  text-align: center;
  justify-content: center;
  padding: 15px;
  border-style: solid;
  margin: 20px 150px 20px 150px;
  border-radius: 15px;  
}

h3 {
  margin: 0px 0px 0px 0px;
}

img {
  height: 100px;
  width: 100px;
}

button {
  background-color: #FDF7FF;
  border-color: #6A35C1;
  border-radius: 15px;
  padding: 5px;
  border-width: 4px;
  transition: all 0,8s;
  
}

/*button:hover {
background-color:#6A35C1;
cursor: pointer;
}*/

.clicked {
  transform: scale(2);
  border-color:orangered;
  box-shadow: 0 0 10px orangered;
  border-radius: 15px;
  border-width: 4px;
}

.center-content {
  display: flex;
  flex-direction: column;
  
}

.container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 0px;
}

.left-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: space-around;
}

.right-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: space-around;
}

 .intro-text {
  padding: 0px 20px;
  font-size:20px;
}

li {
  font-size: 20px;
}

.center-top{
  margin: 0 0;
  background-color:#FDF7FF;
  max-height: 250px;
  max-width: 430px;
  border: solid;
  border-color:#6A35C1;
  border-radius: 15px;
  color:#6A35C1;
  flex-grow: 1;
}
.center-bottom {
  flex-grow: 1;
  background-color:#6A35C1;
  border: solid;
  border-radius: 15px;
  margin-top:20px;
  border-color: #6A35C1;
  color: #FDF7FF;
  padding: 0px 20px;
  font-size: 20px;
  height: 260px;
}

